<div class="panel panel-info">
	<div class="panel-heading">
		Movies
		<button type="button" class="btn btn-success btn-xs pull-right" ng-click="showModal()">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
	</div>
	<div class="panel-body">
		<div ng-if="!movielist.length" class="text-center">
			No movies found! Use the button above to add to your collection.
		</div>
		<div class="list-group">
			<a class="list-group-item" ng-repeat="movie in movielist track by $index">
				<button type="button" class="close" ng-click="gotoMovie(movie.id)"> 
					<span class="glyphicon glyphicon-info-sign"></span> 
				</button>
				({{movie.id}}) {{movie.title}}, {{movie.director}}, {{movie.genre}}, {{movie.year}}, {{movie.rating}}
				<button type="button" class="close" ng-click="deleteMovie(movie)">  
					<span class="glyphicon glyphicon-trash"></span> 
				</button>
			</a>
		</div>
	</div>
</div>
