<!-- Search form -->
<div class="panel panel-info">
	<div class="panel-heading">
		Search
	</div>
	<form role="form" id="search-movie" name="searchForm">
	<div class="panel-body">
		<div class="form-group">
			<label for="search-field">Enter any term to search...</label>
			<input type="text" class="form-control" id="search-field" placeholder="Search" ng-model="search.term" required>
		</div>
			<button type="submit" class="btn btn-success" ng-click="findMovies(search.term)" ng-disabled="!searchForm.$valid">Search</button>
	</form>
	</div>
</div>
<!-- Results panel, hidden until a search is performed -->
<div class="panel panel-info" ng-show="showResults">
	<div class="panel-heading">
		{{searchlist.length ? 'Results' : 'No results'}}
	</div>
	<div class="panel-body">
		<div ng-if="!searchlist.length" class="text-center">
			No movies found. Please try another search.
		</div>
		<div class="list-group">
			<a class="list-group-item" ng-repeat="result in searchlist track by $index">
				<button type="button" class="btn btn-link" ng-click="gotoMovie(result.id)"> 
					<span class="glyphicon glyphicon-eye-open" title="View movie"></span> 
				</button>
				<strong>{{result.title}}</strong> <span class="text-muted">{{result.director}}, {{result.genre}}, {{result.year}}, {{result.rating}}</span>
				<button type="button" class="btn btn-link pull-right" ng-click="deleteMovie(result)">  
					<span class="glyphicon glyphicon-remove" title="Delete movie"></span> 
				</button>
			</a>
		</div>
	</div>
</div>
